html,
body{
    height: 100%;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.02em;
 }
:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
    --color-white: #FFFFFF;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Header */

.header{
    background: var(--color-white);
    
}

.header-link-text{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-navy-blue);
}
.header-link-text:hover,
.header-link-text:focus{
    color: var(--color-iris);
}
.ascend{
    color: var(--color-iris);
}
/* Header Nav Link */

.header-nav-links a {
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-navy-blue);
}
.header-nav-links .link:hover, 
.header-nav-links .link:focus,
.header-nav-links .link:active{
    color: var(--color-ocean);
    text-decoration: underline;
}

/* Header Contact Links */

.header-contact-links a {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-slate);
}
.header-contact-links .contact-link:hover,
.header-contact-links .contact-link:focus,
.header-contact-links .contact-link:active{
    color: var(--color-ocean);
    text-decoration: underline;
}

/* Effective solution sections */

.main-effective-section{
    background: var(--color-navy-blue);
}
.effective-section-titel{
    width: 494px;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    color: var(--color-white);
}
.button{
    background: var(--color-iris);
    cursor: pointer;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-white);
    border-radius: 4px;
}
.button:hover,
.button:focus,
.button:active{
    background: var(--color-ocean);
}

/* Startegy section */

.strategy-section-desc .desc-titel{
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--color-navy-blue);
}
.strategy-section-desc .desc-text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-slate);
}
/* what are we doing section */

.what-section-titel{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: var(--color-navy-blue);
}
/* Our team section */

.main-team-section{
    background: var(--color-cloud);
}
.team-section-titel{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: var(--color-navy-blue);
}
.team-section-desc > li{
    background: var(--color-white);
}

/* Portfolio */

.portfolio{
    background: var(--color-white);
}

/* Portfolio buttons */

.btn button{
    background-color: var(--color-cloud);
    cursor: pointer;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-iris);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    }
.btn button:hover,
.btn button:focus,
.btn button:active{
    background-color: var(--color-ocean);
    color: var(--color-white);
}

/* Portfolio IMG */

.card > li{
    background: var(--color-white)  
}
.card .card-titel{
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--color-grey)
}
.card .card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-slate);
}

/* Footer */

.footer{
    background: var(--color-navy-blue);
}
.footer-link{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cloud);
}
.footer-link:hover,
.footer-link:focus{
    color: var(--color-iris);
}
.ascend-footer{
    color: var(--color-iris);
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-cornflower);
}