html,
body{
    height: 100%;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.02em;
 }
:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
    --color-white: #FFFFFF;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

    /* Header */

.link{
 color: var(--color-navy-blue);
}
.link:hover, 
.link:focus{
    color: var(--color-ocean);
}
.link:active{
    color: var(--color-ocean);
    text-decoration: underline;
}
.header-link-text{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-navy-blue);
}
.ascend{
    color: var(--color-iris);
}
.header-nav-links a {
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-navy-blue);
}
.header-contact-links a {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-slate);
}

    /* Effective solution sections */

.main-effective-section{
    background: var(--color-navy-blue);
}
.effective-section-titel{
    width: 494px;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    color: var(--color-white);
}
.button{
    background: var(--color-iris);
    cursor: pointer;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-white);
}
.button:hover{
    background: var(--color-ocean);
}

/* Startegy section */

.desc-titel{
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--color-navy-blue);
}
.desc-text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-slate);
}
/* what are we doing section */

.what-section-titel{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: var(--color-navy-blue);
}
/* Our team section */

.main-team-section{
    background: var(--color-cloud);
}
.team-section-titel{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: var(--color-navy-blue);
}
.team-section-desc > li{
    background: var(--color-white);
}
/* Footer */

.footer{
    background: var(--color-navy-blue);
}
.footer-link{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cloud);
}
.ascend-footer{
    color: var(--color-iris);
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-cornflower);
}